var config = {
    'host': 'http://your.lats.host/lats',

    charts: [
            {
                tick: "second",           // minimum tick marker - can be second, minute, hour, month, year
                name: "UniqueSensorName", // name of the sensor
                span: 10000               // size of visible area in milliseconds
                tick: "second",
                name: "UniqueSensorName",
                type: 'livesensors',
                span: 10000
            },
            {
                tick: "minute",
                name: "UniqueSensorName",
                type: 'sensors',
                span: 60 * 60 * 1000
            }
        ]
};
